{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Campus-Portal-Fees</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/bootstrap.min.css'%} >

    <link rel="stylesheet" type="text/css" href={% static 'assets/css/font-awesome.css'%} >

    <link rel="stylesheet" href={% static 'assets/css/index.css'%}>

    <link rel="stylesheet" href={% static "assets/css/owl-carousel.css"%}>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href={% static 'css/dashboard.css'  %} >


</head>

<body>


<!-- ***** Header Area Start ***** -->

{% include 'home-navbar.html' %}
<!-- ***** Header Area End ***** -->

<!--===============================================================================================-->	
<!--======================================= If User is Authenticated  ========================================================-->	

    <!-- ***** Welcome Area Start ***** -->

        <!-- ***** Header Text Start ***** -->
<center>
    <div class="page-content page-container" id="page-content" style='margin-top:50px'>
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">




                            {% if  gender_loop == 'FEMALE' %}
                            
                       
                                <div class="m-b-25"> <img src="{% static 'images/user2.png' %}" class="img-radius" alt="User-Profile-Image"> </div>

                                     {% else %}
                               
                                <div class="m-b-25"> <img src="{% static 'images/user.png' %}" class="img-radius" alt="User-Profile-Image"> </div>

                           
                            {% endif %}
                               
                            
                            <h6 class="f-w-600">{{ result.5 }} </h6>
                                <p class='text-white'>{{ result.6 }}</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                
                                {% if result.18 != 0 %}

                                        <a class="btn btn-outline-dark my-2 my-sm-0" type="" href="{% url 'order' %}">Pay Rs. {{ result.18 }}</a>
                                        <br>
                                        <br>

                                {% else %}
                                        <a class="btn btn-outline-warning  my-2 my-sm-0"  style='cursor: not-allowed; color:snow' type="" href="">Already Paid</a>
                                        <br>
                                        <br>

                                {% endif %}
                                
                                <a class="btn btn-outline-dark my-5 my-sm-1" style='margin-left:-14px'  href="{% url 'change_password' %}">Change Password</a>
                                <br>
                                <br>
                                    <p class='text-white'>Passing Year: {{ result.14 }}</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>

                                <br>
                             
                          
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{ result.7 }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Id-Card-Number</p>
                                        <h6 class="text-muted f-w-400">{{ result.12 }}</h6>
                                    </div>
                                </div>

 <h6 class="m-b-20 p-b-5 b-b-default f-w-600"></h6>
                             <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Course Year</p>
                                        <h6 class="text-muted f-w-400">{{ result.13 }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Branch</p>
                                        <h6 class="text-muted f-w-400">{{ result.15 }}</h6>
                                    </div>
                                </div>


                        
                                
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Fees Details</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Username</p>
                                        <h6 class="text-muted f-w-400">{{ result.4 }}</h6>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Fees Status</p>

                        
                                {% if result.15 != 0 %}

                                    <h6 class="f-w-400 text-danger" ><b>Rs. {{ result.18 }}</b> Pending</h6>
                                   
                                   {% else %}
                                    <h6 class="f-w-400 text-success"  ><b> Paid </h6>

                                {% endif %}
                                    
                                    </div>
                                </div>
                               
                                <br>
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Extra Info</h6>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Last Login</p>
                                        <h6 class="text-muted f-w-400">{{ result.2 }}</h6>
                                </div>

                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Gender</p>
                                    
                                                {% if  gender_loop == 'NO' %}

                                                    <h6 class="text-muted f-w-400">No Data</h6>
                                                {%else%}

                                                    <h6 class="text-muted f-w-400">{{gender_loop}}</h6>

                                                {%endif%}

                                        </div>
                                
                                     </div>
                                </div>
                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                  
</center>



   

    <div class="right-image-decor"></div>

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="promotion">
        <div class="container">
            <div class="row">
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src={% static "assets/images/left-image.png" %} width='2000px' class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src={% static  "assets/images/small-3.png" %} height="200px" width="200px"  alt="">
                            <div class="text">
                                <h4>Safe!</h4>
                                <p>Safe transaction from end to end <a>
                                contact</a> us for any queries we are always ready to help with issues </p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src= {% static  "assets/images/small-1.png" %} height="200px" width="200px"  alt="">
                            <div class="text">
                                <h4>Quick Process</h4>
                                <p>You can trust the payment gateway from our website
                                 </p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src={% static  "assets/images/small-2.png" %} height="200px" width="200px" alt="">
                            <div class="text">
                                <h4>Multiple Payment Options</h4>
                                <p>We have look into every possible payment option</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->




    <!-- ***** Footer Start ***** -->
    
    <footer id="contact-us" style='margin-top: -100px;'>
        <center>
        <div class="container">
            <div class="container">
                <div class="footer-content">
                    <!-- ***** Contact Form Start ***** -->
                   
                            <li data-scroll-reveal="enter left move 30px over 0.6s after 0.5s">

 <img src= {% static "assets/images/183415.svg" %} height="300px" width="320px"  alt="">
                            </li>
                </div>
            </div>
                        </div></center>
               
                    <!-- ***** Contact Form End ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2020 Campus Portal 

                        | Designed by Bhavin</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src={% static "assets/js/jquery-2.1.0.min.js" %}></script>

    <!-- Bootstrap -->
    <script src={% static "assets/js/popper.js" %}></script>
    <script src={% static "assets/js/bootstrap.min.js" %}></script>

    <!-- Plugins -->
    <script src={% static "assets/js/owl-carousel.js" %}></script>
    <script src={% static "assets/js/scrollreveal.min.js" %}></script>
    <script src={% static "assets/js/waypoints.min.js" %}></script>
    <script src={% static "assets/js/jquery.counterup.min.js" %}></script>
    <script src={% static "assets/js/imgfix.min.js" %}></script>

    <!-- Global Init -->
    <script src={% static  "assets/js/custom.js" %} ></script>


<!-- Prevent this page from coming back  on clicking backbutton-->

<!-- <script type="text/javascript" >
    function preventBack(){window.history.forward();}
     setTimeout("preventBack()",0);
     window.onunload=function(){null};
 </script> -->



</body>
</html>